<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐播放网页</title>
    <base href="/">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/iconfont.css' %}">
</head>
<body>

    <!-- 左侧侧边栏 -->
    <div class="sidebar">
        <div class="user-info">
            {% csrf_token %}
            <form id="avatarForm">
                <!-- 用户头像 -->
                <img id="avatar" src="" alt="用户头像" class="avatar" onclick="document.getElementById('avatarUpload').click();">
                <input type="file" id="avatarUpload" class="avatar-upload" accept="image/jpeg" style="display:none;" onchange="handleFiles(this.files)"><br><br>
            </form>
            {% csrf_token %}
            <form id="userInfoForm">
                <!-- 昵称 -->
                <label for="nickname">昵称:</label><br>
                <input type="text" id="nickname" value="Amy" class="user-input"><br><br>

                <!-- 个性签名 -->
                <label for="signature">个性签名:</label><br>
                <textarea id="signature" class="user-input" rows="4" placeholder="填写个性签名..."></textarea><br><br>

                <!-- 保存按钮 -->
                <button type="submit">更新信息</button>
            </form>
            <button type="button" id="logout">退出登录</button>
        </div>
    </div>

    <!-- 页面内容区域 -->
    <div class="main-content">
        <!-- 右上角搜索 -->
        <div class="search-container">
            {% csrf_token %}
            <form class="search-form" id="search-form">
                <input type="text" class="search-input" name="search" placeholder="搜索..." required>
                <button type="submit" class="search-button">搜索</button>
            </form>
        </div>
        <div id="searchResults" style="display:none;">
            <div onclick="backToMainContent()" style="cursor:pointer; margin-bottom: 20px;" id="back-return">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" viewBox="0 0 12 24">
                    <path fill="#666666" fill-rule="evenodd"
                        d="m3.343 12l7.071 7.071L9 20.485l-7.778-7.778a1 1 0 0 1 0-1.414L9 3.515l1.414 1.414z" />
                </svg>
            </div>
            <div id="searchContent">
            </div>
        </div>

        <!-- 推荐歌曲、歌手、播放历史 -->
        <div class="recommendations" id="recommendations">
            <h2>
                <span class="circle-logo"></span> 推荐歌曲
            </h2>

            <ul class="item-container-song" id="recommendSong">

            </ul>

            <div class="section-line">
                <div class="line"></div>
                <div class="arrow-icon">›</div>
            </div>

            <h2>
            <span class="circle-logo"></span> 推荐歌手
            </h2>


            <ul class="item-container-singer" id="recommendSinger">

            </ul>

            <div class="section-line">
                <div class="line"></div>
                <div class="arrow-icon">›</div>
            </div>

            <h2>
                <span class="circle-logo"></span> 播放历史
            </h2>

            <ul class="item-container-history" id="songHistory">

            </ul>

            <div class="section-line">
                <div class="line"></div>
                <div class="arrow-icon">›</div>
            </div>
        </div>
    </div>

    <div class="padding"></div>
    <audio id="audio">
        <source src="" type="audio/wav">
      </audio>
    
    <!-- 音乐播放栏 -->
    <div class="music-bar">
        <div class="lyrics" id="lyrics">
            <span></span>
        </div>
        <div class="playback-controls">
            <div class="play-control">
                <button class="prev"><i class="fas fa-step-backward"></i></button>
                <button class="play-pause"><i class="fas fa-play"></i></button>
                <button class="next"><i class="fas fa-step-forward"></i></button>
            </div>
            <div class="song-info">
                <div class="cover">
                    <img src="" alt="Song Cover" id="cover">
                </div>
                <div class="song-details">
                    <span class="song-title" id="song-title">歌曲名称</span>
                    <span class="song-artist" id="song-artist">歌手名称</span>
                </div>
            </div>
            <div class="progress-bar">
                <input type="range" class="progress" value="0" max="100" step="1">
                <span class="current-time">00:00</span> / <span class="duration">00:00</span>
            </div>
        </div>
    </div>
    <script src="../static/js/cookie.js"></script>
    <script src="../static/js/play.js"></script>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/saveInfo.js"></script>
    <script src="../static/js/recSong.js"></script>
    <script src="../static/js/saveAvatar.js"></script>
    <script src="../static/js/history.js"></script>
    <script src="../static/js/recSinger.js"></script>
    <script src="../static/js/logout.js"></script>


</body>
</html>
