body {
    font-family: Arial, sans-serif;
    background-image: url('./images/login1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    opacity: 0.898;
}
.tab-buttons {
    display: flex;
    justify-content: center;  /* 中心对齐 */
    border-bottom: 2px solid #ddd;
}
.tab-buttons button {
    background: none;
    border: none;
    padding: 10px 20px;  /* 增加左右内边距 */
    cursor: pointer;
    width: auto;  /* 按钮宽度根据内容自适应 */
}
.tab-buttons button.active {
    border-bottom: 2px solid #4CAF50;
    color: #4CAF50;
}

form {
    display: none; 
}
form.active {
    display: block;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding:10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
button[type="submit"]:hover {
    background-color: #45a049;
}

